{
  "openapi": "3.1.0",
  "info": {
    "title": "Merchant API",
    "version": "1.182.0",
    "description": "The Prahsys Merchant API provides a comprehensive suite of endpoints for managing merchants, processing payments, and accessing transaction data. This RESTful API supports multi-tenant architecture with organization-based access control and separate Live/Sandbox environments for testing.",
    "contact": {
      "name": "Prahsys API Support",
      "email": "support@prahsys.com",
      "url": "https://docs.prahsys.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://docs.prahsys.com/page/toc#/"
    },
    "termsOfService": "https://docs.prahsys.com/page/toc#/"
  },
  "servers": [
    {
      "url": "https://api.prahsys.com/merchant",
      "description": "Production Server - Live environment for production transactions"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/n1/channel-partner/{channelPartnerId}": {
      "get": {
        "tags": [
          "Channel Partner"
        ],
        "operationId": "getChannelPartner",
        "summary": "Get Channel Partner",
        "description": "Get an existing channel partner from Prahsys",
        "parameters": [
          {
            "in": "path",
            "name": "channelPartnerId",
            "description": "The channel partner id",
            "schema": {
              "type": "string",
              "description": "The channel partner id",
              "example": "Z70B874W63DW"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "includeMerchantIds",
            "description": "Option to include list of merchant ids or not",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "description": "Option to include list of merchant ids or not"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/N1_Channel_Partner"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "title": "Get Channel Partner Response",
                  "description": "JSON response for getting a channel partner",
                  "example": {
                    "success": true,
                    "message": "Channel partner retrieved successfully",
                    "data": {
                      "id": "org_1234567890",
                      "name": "Acme Channel Partner",
                      "slug": "acme-channel-partner",
                      "website": "https://www.prahsy.com",
                      "productSold": "Software Services",
                      "category": "MOTO",
                      "revenueSharing": true,
                      "visaMastercardCpRate": 2.5,
                      "visaMastercardCpFee": 0.1,
                      "discoverCpRate": 2.75,
                      "discoverCpFee": 0.15,
                      "amexCpRate": 3,
                      "amexCpFee": 0.2,
                      "visaMastercardCnpRate": 2.6,
                      "visaMastercardCnpFee": 0.12,
                      "discoverCnpRate": 2.8,
                      "discoverCnpFee": 0.18,
                      "amexCnpRate": 3.1,
                      "amexCnpFee": 0.18,
                      "chargebackFee": 25,
                      "pciNonComplianceFee": 19.95,
                      "achRate": 1,
                      "achTransactionFee": 0.49,
                      "achReturnFee": 5,
                      "monthlyMaintenanceFee": 15,
                      "batchFee": 15,
                      "equipmentFee": 15,
                      "cardPresentPercentage": 60,
                      "cardNotPresentPercentage": 40,
                      "logo": "https://prahsys.com/_next/image?url=%2FPrahsys%20Blue.png&w=128&q=75",
                      "primaryContactEmail": "contact@prahsys.com",
                      "primaryContactPhone": "+1234567890",
                      "primaryContactFirstName": "John",
                      "primaryContactLastName": "Doe",
                      "type": "CHANNEL_PARTNER",
                      "createdAt": "2026-08-18T02:08:41.044Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponseBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponseBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerExceptionResponseBody"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Channel Partner"
        ],
        "operationId": "updateChannelPartner",
        "summary": "Update Channel Partner",
        "description": "Upade an existing channel partner from Prahsys",
        "parameters": [
          {
            "in": "path",
            "name": "channelPartnerId",
            "description": "The channel partner id",
            "schema": {
              "type": "string",
              "description": "The channel partner id",
              "example": "Z70B874W63DW"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "website": {
                    "type": "string",
                    "format": "uri",
                    "description": "Website of the channel partner."
                  },
                  "primaryContactId": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Id of the channel partner's primary conatct."
                  }
                }
              },
              "examples": {
                "UpdateRequest": {
                  "summary": "Update Request Example",
                  "value": {
                    "website": "https://newwebsite.com",
                    "primaryContactId": "EXAMPLEUSERID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/N1_Channel_Partner"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "title": "Update Channel Partner Response",
                  "description": "JSON response for updating a channel partner",
                  "example": {
                    "success": true,
                    "message": "Channel partner updated successfully",
                    "data": {
                      "id": "org_1234567890",
                      "name": "Acme Channel Partner",
                      "slug": "acme-channel-partner",
                      "website": "https://www.prahsy.com",
                      "productSold": "Software Services",
                      "category": "MOTO",
                      "revenueSharing": true,
                      "visaMastercardCpRate": 2.5,
                      "visaMastercardCpFee": 0.1,
                      "discoverCpRate": 2.75,
                      "discoverCpFee": 0.15,
                      "amexCpRate": 3,
                      "amexCpFee": 0.2,
                      "visaMastercardCnpRate": 2.6,
                      "visaMastercardCnpFee": 0.12,
                      "discoverCnpRate": 2.8,
                      "discoverCnpFee": 0.18,
                      "amexCnpRate": 3.1,
                      "amexCnpFee": 0.18,
                      "chargebackFee": 25,
                      "pciNonComplianceFee": 19.95,
                      "achRate": 1,
                      "achTransactionFee": 0.49,
                      "achReturnFee": 5,
                      "monthlyMaintenanceFee": 15,
                      "batchFee": 15,
                      "equipmentFee": 15,
                      "cardPresentPercentage": 60,
                      "cardNotPresentPercentage": 40,
                      "logo": "https://prahsys.com/_next/image?url=%2FPrahsys%20Blue.png&w=128&q=75",
                      "primaryContactEmail": "contact@prahsys.com",
                      "primaryContactPhone": "+1234567890",
                      "primaryContactFirstName": "John",
                      "primaryContactLastName": "Doe",
                      "type": "CHANNEL_PARTNER",
                      "createdAt": "2026-08-18T02:08:41.044Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponseBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponseBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerExceptionResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/n1/customer": {
      "get": {
        "tags": [
          "Customer"
        ],
        "operationId": "searchCustomer",
        "summary": "Search Customer",
        "description": "Search for a customer by email address",
        "parameters": [
          {
            "in": "query",
            "name": "email",
            "description": "Email address to search for",
            "schema": {
              "type": "string",
              "format": "email",
              "description": "Email address to search for",
              "example": "john.doe@example.com"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/N1_Customer"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "title": "Search Customer Response",
                  "description": "JSON response for searching a customer. Returns null if customer not found.",
                  "example": {
                    "success": true,
                    "message": "Customer found",
                    "data": {
                      "id": "c5143cce-7c8d-4965-b6e6-def56385a4e4",
                      "firstName": "John",
                      "lastName": "Doe",
                      "email": "j.doe@email.com",
                      "phone": "+12148787878",
                      "dob": "1996-05-05T00:00:00.000Z",
                      "createdAt": "2023-01-01T00:00:00.000Z",
                      "updatedAt": "2023-01-01T00:00:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponseBody"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableContenctBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerExceptionResponseBody"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Customer"
        ],
        "operationId": "newCustomer",
        "summary": "New Customer",
        "description": "Create a new customer for payment processing",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string",
                    "description": "First name of the customer."
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Last name of the customer."
                  },
                  "phone": {
                    "type": "string",
                    "pattern": "^\\+(?:[0-9]){6,14}[0-9]$",
                    "description": "Phone number of the customer."
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email of the customer"
                  },
                  "dob": {
                    "type": "string",
                    "format": "date",
                    "description": "Date of birth of the customer in format of YYYY-MM-DD"
                  }
                },
                "required": [
                  "email"
                ]
              },
              "examples": {
                "CreateRequest": {
                  "summary": "Create Request Example",
                  "value": {
                    "firstName": "customer",
                    "lastName": "customerLastName",
                    "phone": "+16054321111",
                    "email": "newemail@gmail.com",
                    "dob": "1999-08-25"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/N1_Customer"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "title": "Create Customer Response",
                  "description": "JSON response for creating a new customer",
                  "example": {
                    "success": true,
                    "message": "Customer created successfully",
                    "data": {
                      "id": "c5143cce-7c8d-4965-b6e6-def56385a4e4",
                      "firstName": "John",
                      "lastName": "Doe",
                      "email": "j.doe@email.com",
                      "phone": "+12148787878",
                      "dob": "1996-05-05T00:00:00.000Z",
                      "createdAt": "2023-01-01T00:00:00.000Z",
                      "updatedAt": "2023-01-01T00:00:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponseBody"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableContenctBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerExceptionResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/n1/customer/{customerId}": {
      "get": {
        "tags": [
          "Customer"
        ],
        "operationId": "getCustomer",
        "summary": "Get Customer",
        "description": "Get an existing customer from Prahsys",
        "parameters": [
          {
            "in": "path",
            "name": "customerId",
            "description": "The customer id",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The customer id",
              "example": "c5143cce-7c8d-4965-b6e6-def56385a4e4"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/N1_Customer"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "title": "Get Customer Response",
                  "description": "JSON response for retrieving a customer",
                  "example": {
                    "success": true,
                    "message": "Customer Retrieved successfully",
                    "data": {
                      "id": "c5143cce-7c8d-4965-b6e6-def56385a4e4",
                      "firstName": "John",
                      "lastName": "Doe",
                      "email": "j.doe@email.com",
                      "phone": "+12148787878",
                      "dob": "1996-05-05T00:00:00.000Z",
                      "createdAt": "2023-01-01T00:00:00.000Z",
                      "updatedAt": "2023-01-01T00:00:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponseBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerExceptionResponseBody"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Customer"
        ],
        "operationId": "updateCustomer",
        "summary": "Update Customer",
        "description": "Update an existing customer for payment processing",
        "parameters": [
          {
            "in": "path",
            "name": "customerId",
            "description": "The customer id",
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The customer id",
              "example": "c5143cce-7c8d-4965-b6e6-def56385a4e4"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string",
                    "description": "First name of the customer."
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Last name of the customer."
                  },
                  "phone": {
                    "type": "string",
                    "pattern": "^\\+(?:[0-9]){6,14}[0-9]$",
                    "description": "Phone number of the customer."
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email of the customer"
                  },
                  "dob": {
                    "type": "string",
                    "format": "date",
                    "description": "Date of birth of the customer in format of YYYY-MM-DD"
                  }
                }
              },
              "examples": {
                "UpdateRequest": {
                  "summary": "Update Request Example",
                  "value": {
                    "firstName": "updated",
                    "lastName": "customer",
                    "phone": "+16054321111",
                    "email": "updatedemail@gmail.com",
                    "dob": "1999-08-25"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/N1_Customer"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "title": "Update Customer Response",
                  "description": "JSON response for updating a customer",
                  "example": {
                    "success": true,
                    "message": "Customer updated successfully",
                    "data": {
                      "id": "c5143cce-7c8d-4965-b6e6-def56385a4e4",
                      "firstName": "John",
                      "lastName": "Doe",
                      "email": "j.doe@email.com",
                      "phone": "+12148787878",
                      "dob": "1996-05-05T00:00:00.000Z",
                      "createdAt": "2023-01-01T00:00:00.000Z",
                      "updatedAt": "2023-01-01T00:00:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseBody"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponseBody"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableContenctBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerExceptionResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/n1/leads/businesses": {
      "get": {
        "tags": [
          "Lead Business"
        ],
        "operationId": "getLeadBusinesses",
        "summary": "Get Lead Businesses",
        "description": "Get lead businesses for the organization",
        "parameters": [
          {
            "in": "query",
            "name": "sort",
            "description": "Array of keys indicating sort request.",
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "name",
                    "created_at",
                    "updated_at",
                    "next_reachout_date",
                    "account_type",
                    "industry",
                    "lead_status",
                    "last_touch_date",
                    "lead_channel",
                    "owner_first_name",
                    "zip",
                    "deal_status",
                    "deal_expected_close_date",
                    "deal_rate_desired",
                    "deal_monthly_processing",
                    "deal_created_at",
                    "-name",
                    "-created_at",
                    "-updated_at",
                    "-next_reachout_date",
                    "-account_type",
                    "-industry",
                    "-lead_status",
                    "-last_touch_date",
                    "-lead_channel",
                    "-owner_first_name",
                    "-zip",
                    "-deal_status",
                    "-deal_expected_close_date",
                    "-deal_rate_desired",
                    "-deal_monthly_processing",
                    "-deal_created_at"
                  ]
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "name",
                      "created_at",
                      "updated_at",
                      "next_reachout_date",
                      "account_type",
                      "industry",
                      "lead_status",
                      "last_touch_date",
                      "lead_channel",
                      "owner_first_name",
                      "zip",
                      "deal_status",
                      "deal_expected_close_date",
                      "deal_rate_desired",
                      "deal_monthly_processing",
                      "deal_created_at",
                      "-name",
                      "-created_at",
                      "-updated_at",
                      "-next_reachout_date",
                      "-account_type",
                      "-industry",
                      "-lead_status",
                      "-last_touch_date",
                      "-lead_channel",
                      "-owner_first_name",
                      "-zip",
                      "-deal_status",
                      "-deal_expected_close_date",
                      "-deal_rate_desired",
                      "-deal_monthly_processing",
                      "-deal_created_at"
                    ]
                  }
                }
              ],
              "description": "Array of keys indicating sort request."
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Object with fields and filtering values",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                },
                "account_type": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                },
                "industry": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                },
                "lead_channel": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                },
                "lead_status": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                },
                "deal_status": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                },
                "archived": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                },
                "owner_id": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                },
                "lead_event_id": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                }
              },
              "additionalProperties": false,
              "description": "Object with fields and filtering values"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Count of result returned.",
            "schema": {
              "type": "number",
              "default": 10,
              "description": "Count of result returned."
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Offset of returned result. (0 indexed)",
            "schema": {
              "type": "number",
              "default": 0,
              "description": "Offset of returned result. (0 indexed)"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/N1_LeadBusiness"
                      },
                      "default": []
                    },
                    "total": {
                      "type": "number"
                    },
                    "offset": {
                      "type": "number"
                    },
                    "limit": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "total",
                    "offset",
                    "limit"
                  ],
                  "title": "Get Lead Businesses Response",
                  "description": "JSON response for getting lead businesses"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponseBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponseBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerExceptionResponseBody"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Lead Business"
        ],
        "operationId": "createLeadBusiness",
        "summary": "Create Lead Business",
        "description": "Create a new lead business",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Name of the business"
                  },
                  "accountType": {
                    "$ref": "#/components/schemas/LeadAccountTypeEnum",
                    "description": "Account type of the business"
                  },
                  "locationAddress": {
                    "type": "object",
                    "properties": {
                      "street1": {
                        "type": "string",
                        "description": "Primary street address"
                      },
                      "street2": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "Secondary address line (suite, apt, etc.)"
                      },
                      "city": {
                        "type": "string",
                        "description": "City"
                      },
                      "state": {
                        "type": "string",
                        "description": "State abbreviation (e.g. TX)"
                      },
                      "zipCode": {
                        "type": "string",
                        "description": "ZIP/postal code"
                      },
                      "country": {
                        "type": "string",
                        "description": "Country code"
                      }
                    },
                    "description": "Location address of the business"
                  },
                  "headquartersAddress": {
                    "type": "object",
                    "properties": {
                      "street1": {
                        "type": "string",
                        "description": "Primary street address"
                      },
                      "street2": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "Secondary address line (suite, apt, etc.)"
                      },
                      "city": {
                        "type": "string",
                        "description": "City"
                      },
                      "state": {
                        "type": "string",
                        "description": "State abbreviation (e.g. TX)"
                      },
                      "zipCode": {
                        "type": "string",
                        "description": "ZIP/postal code"
                      },
                      "country": {
                        "type": "string",
                        "description": "Country code"
                      }
                    },
                    "description": "Headquarters address of the business"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "Phone number of the business"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email of the business"
                  },
                  "website": {
                    "type": "string",
                    "description": "Website of the business"
                  },
                  "linkedInUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "LinkedIn URL of the business"
                  },
                  "industry": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Industry the business operates in"
                  },
                  "managementSoftware": {
                    "type": "string",
                    "description": "Management software used"
                  },
                  "specialty": {
                    "type": "string",
                    "description": "Specialty of the business within its industry"
                  },
                  "paymentProvider": {
                    "type": "string",
                    "description": "Payment provider used"
                  },
                  "cbctScanner": {
                    "type": "string",
                    "description": "CBCT scanner model used by the practice"
                  },
                  "scansPerWeek": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Approximate number of CBCT scans performed per week"
                  },
                  "additional": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Free-form key/value CRM enrichment shown on the lead (e.g. role, scansPerMonth)."
                  },
                  "leadChannel": {
                    "$ref": "#/components/schemas/LeadChannelEnum",
                    "description": "Acquisition channel for the lead"
                  },
                  "leadSource": {
                    "type": "string",
                    "pattern": "^[a-z0-9-]+$",
                    "description": "Source within the channel (lowercase-hyphenated)"
                  },
                  "leadCampaign": {
                    "type": "string",
                    "pattern": "^[a-z0-9-]+$",
                    "description": "Campaign identifier (lowercase-hyphenated)"
                  },
                  "leadMedium": {
                    "type": "string",
                    "pattern": "^[a-z0-9-]+$",
                    "description": "Marketing medium within the channel (lowercase-hyphenated, e.g. email, cpc)"
                  },
                  "leadContent": {
                    "type": "string",
                    "pattern": "^[a-z0-9-]+$",
                    "description": "Differentiates similar content/links within the same campaign (lowercase-hyphenated)"
                  },
                  "numberOfLocations": {
                    "type": "integer",
                    "description": "Number of locations for this business"
                  },
                  "numberOfProviders": {
                    "type": "integer",
                    "description": "Number of providers at this business"
                  },
                  "dsoSize": {
                    "$ref": "#/components/schemas/LeadDsoSizeEnum",
                    "description": "DSO size category — only applicable for DSO Parent account type"
                  },
                  "ownerUserIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "User IDs to assign as owners"
                  },
                  "contactIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Contact IDs to link to this business"
                  },
                  "dsoConnectId": {
                    "type": "string",
                    "description": "DSO Connect entity id (parent_dso_id, subsidiary_id, or practice_location_id) — must be unique per lead."
                  },
                  "leadEventId": {
                    "type": "string",
                    "description": "ID of the lead event to enroll this business in at creation time."
                  },
                  "dealMonthlyProcessing": {
                    "type": "number",
                    "exclusiveMinimum": 0,
                    "description": "Initial monthly processing amount for the deal."
                  },
                  "dealNote": {
                    "type": "string",
                    "description": "Explanatory note for the deal (e.g. how the amount was calculated)."
                  },
                  "initialStatus": {
                    "$ref": "#/components/schemas/LeadStatusEnum",
                    "description": "Initial lead status. Defaults to NEW if not provided. Pass PROSPECT to create a pre-pipeline lead."
                  },
                  "initialDealStatus": {
                    "$ref": "#/components/schemas/LeadDealStatusEnum",
                    "description": "Initial deal status. Defaults to NEW if not provided (e.g. DISCOVERY for a self-onboarded merchant)."
                  },
                  "merchantId": {
                    "type": "string",
                    "description": "DB id of an existing merchant to link this lead to (LeadBusinesses.merchant_id). Must be unique per merchant."
                  }
                },
                "required": [
                  "name",
                  "accountType",
                  "industry",
                  "leadChannel"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/N1_LeadBusiness"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "title": "Create Lead Business Response",
                  "description": "JSON response for creating a lead business"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponseBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerExceptionResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/n1/leads/businesses/{leadBusinessId}": {
      "get": {
        "tags": [
          "Lead Business"
        ],
        "operationId": "getLeadBusiness",
        "summary": "Get Lead Business",
        "description": "Get a lead business by ID",
        "parameters": [
          {
            "in": "path",
            "name": "leadBusinessId",
            "description": "The lead business id",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The lead business id",
              "example": "LB_SEED_001"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/N1_LeadBusiness"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "title": "Get Lead Business Response",
                  "description": "JSON response for getting a lead business"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponseBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponseBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerExceptionResponseBody"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Lead Business"
        ],
        "operationId": "updateLeadBusiness",
        "summary": "Update Lead Business",
        "description": "Update a lead business by ID",
        "parameters": [
          {
            "in": "path",
            "name": "leadBusinessId",
            "description": "The lead business id",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The lead business id",
              "example": "LB_SEED_001"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Name of the business"
                  },
                  "accountType": {
                    "$ref": "#/components/schemas/LeadAccountTypeEnum",
                    "description": "Account type of the business"
                  },
                  "locationAddress": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "street1": {
                        "type": "string",
                        "description": "Primary street address"
                      },
                      "street2": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "Secondary address line (suite, apt, etc.)"
                      },
                      "city": {
                        "type": "string",
                        "description": "City"
                      },
                      "state": {
                        "type": "string",
                        "description": "State abbreviation (e.g. TX)"
                      },
                      "zipCode": {
                        "type": "string",
                        "description": "ZIP/postal code"
                      },
                      "country": {
                        "type": "string",
                        "description": "Country code"
                      }
                    },
                    "description": "Location address of the business. Pass null to remove."
                  },
                  "headquartersAddress": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "street1": {
                        "type": "string",
                        "description": "Primary street address"
                      },
                      "street2": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "Secondary address line (suite, apt, etc.)"
                      },
                      "city": {
                        "type": "string",
                        "description": "City"
                      },
                      "state": {
                        "type": "string",
                        "description": "State abbreviation (e.g. TX)"
                      },
                      "zipCode": {
                        "type": "string",
                        "description": "ZIP/postal code"
                      },
                      "country": {
                        "type": "string",
                        "description": "Country code"
                      }
                    },
                    "description": "Headquarters address of the business. Pass null to remove."
                  },
                  "phoneNumber": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Phone number of the business"
                  },
                  "email": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "email",
                    "description": "Email of the business"
                  },
                  "website": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Website of the business"
                  },
                  "linkedInUrl": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uri",
                    "description": "LinkedIn URL of the business. Pass null to clear."
                  },
                  "industry": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Industry the business operates in"
                  },
                  "managementSoftware": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Management software used"
                  },
                  "specialty": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Specialty of the business within its industry"
                  },
                  "paymentProvider": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Payment provider used"
                  },
                  "cbctScanner": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "CBCT scanner model. Pass null to clear."
                  },
                  "scansPerWeek": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "minimum": 0,
                    "description": "Approximate number of CBCT scans per week. Pass null to clear."
                  },
                  "leadChannel": {
                    "$ref": "#/components/schemas/LeadChannelEnum",
                    "description": "Acquisition channel for the lead"
                  },
                  "leadSource": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "pattern": "^[a-z0-9-]+$",
                    "description": "Source within the channel (lowercase-hyphenated)"
                  },
                  "leadCampaign": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "pattern": "^[a-z0-9-]+$",
                    "description": "Campaign identifier (lowercase-hyphenated)"
                  },
                  "leadMedium": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "pattern": "^[a-z0-9-]+$",
                    "description": "Marketing medium within the channel (lowercase-hyphenated, e.g. email, cpc)"
                  },
                  "leadContent": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "pattern": "^[a-z0-9-]+$",
                    "description": "Differentiates similar content/links within the same campaign (lowercase-hyphenated)"
                  },
                  "numberOfLocations": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Number of locations for this business"
                  },
                  "numberOfProviders": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Number of providers at this business"
                  },
                  "dsoSize": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/LeadDsoSizeEnum"
                      },
                      {
                        "type": "null"
                      }
                    ],
                    "description": "DSO size category — only applicable for DSO Parent account type"
                  },
                  "merchantId": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Merchant ID if the lead has signed up"
                  },
                  "ownerUserIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "User IDs to assign as owners (replaces all)"
                  },
                  "contactIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Contact IDs to link to this business (replaces all)"
                  },
                  "leadEventId": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "ID of the lead event to enroll this business in. Pass null to un-enroll."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/N1_LeadBusiness"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "title": "Update Lead Business Response",
                  "description": "JSON response for updating a lead business"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponseBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponseBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerExceptionResponseBody"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Lead Business"
        ],
        "operationId": "deleteLeadBusiness",
        "summary": "Delete Lead Business",
        "description": "Archive a lead business by ID",
        "parameters": [
          {
            "in": "path",
            "name": "leadBusinessId",
            "description": "The lead business id",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The lead business id",
              "example": "LB_SEED_001"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique identifier for the lead business"
                        }
                      },
                      "required": [
                        "id"
                      ],
                      "title": "Lead Business",
                      "description": "A lead business representing a prospective merchant in the sales pipeline"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "title": "Delete Lead Business Response",
                  "description": "JSON response for archiving a lead business"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponseBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponseBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerExceptionResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/n1/leads/businesses/{leadBusinessId}/statuses": {
      "post": {
        "tags": [
          "Lead Business"
        ],
        "operationId": "createLeadStatus",
        "summary": "Create Lead Status",
        "description": "Add a new status entry to the lead business status history",
        "parameters": [
          {
            "in": "path",
            "name": "leadBusinessId",
            "description": "The lead business id",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The lead business id",
              "example": "LB_SEED_001"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "$ref": "#/components/schemas/LeadStatusEnum",
                    "description": "The new status to set for this lead"
                  }
                },
                "required": [
                  "status"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/N1_LeadBusiness"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "title": "Create Lead Status Response",
                  "description": "JSON response for creating a lead status"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponseBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponseBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerExceptionResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/n1/leads/cbct-scanners": {
      "get": {
        "tags": [
          "Lead CBCT Scanner"
        ],
        "operationId": "getLeadCbctScanners",
        "summary": "Get Lead CBCT Scanners",
        "description": "Get the list of CBCT scanner models for this channel partner",
        "parameters": [
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "number",
              "default": 100
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "number",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/N1_LeadCbctScanner"
                      },
                      "default": []
                    },
                    "total": {
                      "type": "number"
                    },
                    "offset": {
                      "type": "number"
                    },
                    "limit": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "total",
                    "offset",
                    "limit"
                  ],
                  "title": "Get Lead CBCT Scanners Response",
                  "description": "JSON response for getting CBCT scanners"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponseBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerExceptionResponseBody"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Lead CBCT Scanner"
        ],
        "operationId": "createLeadCbctScanner",
        "summary": "Create Lead CBCT Scanner",
        "description": "Create a new CBCT scanner model entry for this channel partner",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Name/model of the CBCT scanner to create"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/N1_LeadCbctScanner"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "title": "Create Lead CBCT Scanner Response",
                  "description": "JSON response for creating a CBCT scanner"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponseBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponseBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerExceptionResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/n1/leads/cbct-scanners/{scannerId}": {
      "patch": {
        "tags": [
          "Lead CBCT Scanner"
        ],
        "operationId": "updateLeadCbctScanner",
        "summary": "Update Lead CBCT Scanner",
        "description": "Update an existing CBCT scanner name/model",
        "parameters": [
          {
            "in": "path",
            "name": "scannerId",
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Updated CBCT scanner name/model"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/N1_LeadCbctScanner"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "title": "Update Lead CBCT Scanner Response",
                  "description": "JSON response for updating a CBCT scanner"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponseBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponseBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerExceptionResponseBody"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Lead CBCT Scanner"
        ],
        "operationId": "deleteLeadCbctScanner",
        "summary": "Delete Lead CBCT Scanner",
        "description": "Delete a CBCT scanner and clear references from lead businesses",
        "parameters": [
          {
            "in": "path",
            "name": "scannerId",
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/N1_LeadCbctScanner"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "title": "Delete Lead CBCT Scanner Response",
                  "description": "JSON response for deleting a CBCT scanner"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponseBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponseBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerExceptionResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/n1/leads/contacts": {
      "get": {
        "tags": [
          "Lead Contact"
        ],
        "operationId": "getLeadContacts",
        "summary": "Get Lead Contacts",
        "description": "Get lead contacts for the organization",
        "parameters": [
          {
            "in": "query",
            "name": "sort",
            "description": "Array of keys indicating sort request.",
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "enum": [
                    "first_name",
                    "last_name",
                    "created_at",
                    "updated_at",
                    "email",
                    "-first_name",
                    "-last_name",
                    "-created_at",
                    "-updated_at",
                    "-email"
                  ]
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "first_name",
                      "last_name",
                      "created_at",
                      "updated_at",
                      "email",
                      "-first_name",
                      "-last_name",
                      "-created_at",
                      "-updated_at",
                      "-email"
                    ]
                  }
                }
              ],
              "description": "Array of keys indicating sort request."
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Object with fields and filtering values",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                },
                "job_title": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                },
                "owner_id": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                }
              },
              "additionalProperties": false,
              "description": "Object with fields and filtering values"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Count of result returned.",
            "schema": {
              "type": "number",
              "default": 10,
              "description": "Count of result returned."
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Offset of returned result. (0 indexed)",
            "schema": {
              "type": "number",
              "default": 0,
              "description": "Offset of returned result. (0 indexed)"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/N1_LeadContactDetail"
                      },
                      "default": []
                    },
                    "total": {
                      "type": "number"
                    },
                    "offset": {
                      "type": "number"
                    },
                    "limit": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "total",
                    "offset",
                    "limit"
                  ],
                  "title": "Get Lead Contacts Response",
                  "description": "JSON response for getting lead contacts"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponseBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponseBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerExceptionResponseBody"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Lead Contact"
        ],
        "operationId": "createLeadContact",
        "summary": "Create Lead Contact",
        "description": "Create a new lead contact",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string",
                    "minLength": 1,
                    "description": "First name of the contact"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Last name of the contact"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "DEPRECATED: use phones array. Single phone number (promoted to MOBILE type)."
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "DEPRECATED: use emails array. Single email address (promoted to WORK type)."
                  },
                  "phones": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "phoneNumber": {
                          "type": "string",
                          "minLength": 1,
                          "description": "Phone number in any format"
                        },
                        "phoneType": {
                          "type": "string",
                          "enum": [
                            "MOBILE",
                            "WORK",
                            "HOME",
                            "OFFICE_DIRECT",
                            "MAIN_FRONT_DESK",
                            "FAX",
                            "AFTER_HOURS",
                            "OTHER"
                          ],
                          "description": "Phone type label",
                          "default": "MOBILE"
                        },
                        "isPrimary": {
                          "type": "boolean",
                          "description": "Mark as primary. Auto-set to true when only one entry exists. Required when 2+ entries exist."
                        }
                      },
                      "required": [
                        "phoneNumber"
                      ]
                    },
                    "maxItems": 5,
                    "description": "Array of phone numbers (max 5). When 2+ entries are provided, exactly one must have isPrimary: true. Replaces the deprecated phoneNumber field."
                  },
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "format": "email",
                          "description": "Email address"
                        },
                        "emailType": {
                          "type": "string",
                          "enum": [
                            "WORK",
                            "PERSONAL",
                            "CORPORATE_HQ",
                            "OTHER"
                          ],
                          "description": "Email type label",
                          "default": "WORK"
                        },
                        "isPrimary": {
                          "type": "boolean",
                          "description": "Mark as primary. Auto-set to true when only one entry exists. Required when 2+ entries exist."
                        }
                      },
                      "required": [
                        "email"
                      ]
                    },
                    "maxItems": 5,
                    "description": "Array of email addresses (max 5). When 2+ entries are provided, exactly one must have isPrimary: true. Replaces the deprecated email field."
                  },
                  "jobTitle": {
                    "type": "string",
                    "description": "Job title of the contact"
                  },
                  "linkedInUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "LinkedIn profile URL of the contact"
                  },
                  "persona": {
                    "$ref": "#/components/schemas/LeadContactPersonaEnum"
                  },
                  "address": {
                    "type": "object",
                    "properties": {
                      "street1": {
                        "type": "string"
                      },
                      "street2": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "city": {
                        "type": "string"
                      },
                      "state": {
                        "type": "string"
                      },
                      "zipCode": {
                        "type": "string"
                      },
                      "country": {
                        "type": "string"
                      }
                    },
                    "description": "Structured address of the contact"
                  },
                  "businessIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Lead business IDs to link to this contact"
                  },
                  "userIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "User IDs to link to this contact"
                  }
                },
                "required": [
                  "firstName"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/N1_LeadContact"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "title": "Create Lead Contact Response",
                  "description": "JSON response for creating a lead contact"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponseBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerExceptionResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/n1/leads/contacts/{leadContactId}": {
      "get": {
        "tags": [
          "Lead Contact"
        ],
        "operationId": "getLeadContact",
        "summary": "Get Lead Contact",
        "description": "Get a lead contact by ID",
        "parameters": [
          {
            "in": "path",
            "name": "leadContactId",
            "description": "The lead contact id",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The lead contact id",
              "example": "LC_SEED_001"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/N1_LeadContact"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "title": "Get Lead Contact Response",
                  "description": "JSON response for getting a lead contact"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponseBody"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponseBody"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerExceptionResponseBody"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Lead Contact"
        ],
        "operationId": "updateLeadContact",
        "summary": "Update Lead Contact",
        "description": "Update a lead contact by ID",
        "parameters": [
          {
            "in": "path",
            "name": "leadContactId",
            "description": "The lead contact id",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The lead contact id",
              "example": "LC_SEED_001"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string",
                    "minLength": 1,
                    "description": "First name of the contact"
                  },
                  "lastName": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Last name of the contact"
                  },
                  "phoneNumber": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "DEPRECATED: use phones array. Single phone number."
                  },
                  "email": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "email",
                    "description": "DEPRECATED: use emails array. Single email address."
                  },
                  "phones": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "phoneNumber": {
                          "type": "string",
                          "minLength": 1,
                          "description": "Phone number in any format"
                        },
                        "phoneType": {
                          "type": "string",
                          "enum": [
                            "MOBILE",
                            "WORK",
                            "HOME",
                            "OFFICE_DIRECT",
                            "MAIN_FRONT_DESK",
                            "FAX",
                            "AFTER_HOURS",
                            "OTHER"
                          ],
                          "description": "Phone type label",
                          "default": "MOBILE"
                        },
                        "isPrimary": {
                          "type": "boolean",
                          "description": "Mark as primary. Auto-set to true when only one entry exists. Required when 2+ entries exist."
                        }
                      },
                      "required": [
                        "phoneNumber"
                      ]
                    },
                    "maxItems": 5,
                    "description": "Full replacement array of phone numbers (max 5). Omit to leave phones unchanged. Send empty array [] to remove all phones. When 2+ entries, exactly one must have isPrimary: true."
                  },
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "format": "email",
                          "description": "Email address"
                        },
                        "emailType": {
                          "type": "string",
                          "enum": [
                            "WORK",
                            "PERSONAL",
                            "CORPORATE_HQ",
                            "OTHER"
                          ],
                          "description": "Email type label",
                          "default": "WORK"
                        },
                        "isPrimary": {
                          "type": "boolean",
                          "description": "Mark as primary. Auto-set to true when only one entry exists. Required when 2+ entries exist."
                        }
[...]
